@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  transition: 0.3s;
}

.sidebar header {
  margin-top: 20px;
  align-items: center;
}

.sidebar #icon {
  display: none;
}

.sidebar button:hover > #home-btn,
.sidebar button:hover > #user-btn,
.sidebar button:hover > #post-btn {
  scale: 1.1;
  transition: 0.2s;
}

@media (width<580px) {
  .sidebar {
    width: 72px;
  }

  .sidebar header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sidebar #icon,
  .sidebar #home-btn,
  .sidebar #user-btn,
  .sidebar #post-btn {
    display: block;
  }

  .sidebar h2,
  .sidebar p {
    display: none;
  }
}
